RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)\/$ $1 [R,L]
    RewriteBase /agenda

    

   	RewriteRule ^Home$ index.php [QSA,L,NC]
   	RewriteRule ^agendamento$ index.php?p=1&pagina=agendar [QSA,L,NC]
   	RewriteRule ^Listagem$ index.php?p=1&pagina=listar [QSA,L,NC]
   	RewriteRule ^Config$ index.php?p=1&pagina=configuracao [QSA,L,NC]